html, body {
  margin: 0;
  height: 100%;
  background-color: #ddd;
}

.graph-box {
  width: 600px;;
  height: 631px;
  margin: 0 auto;
  margin-bottom: 80px;
  display: none;
  background-color: #fff;
  padding: 25px;
  border-radius: 10px;
  border: 1px solid #ccc;
}

#search-header {
  margin-top: 10px;
  margin-bottom: 25px;
  display: flex;
  justify-content: center;
}

#search-header input[type="submit"], #search-header button {
  font-size: 18px;
  color: #fff;
  background-color: #aaa;
  width: 120px;
  height: 40px;
  border-radius: 8px;
  margin: 0 10px;
  outline: none;
}

#search-header input[type="text"], .keyword-search {
  padding: 8px 15px;
  font-size: 18px;
  width: 345px;
  border-radius: 8px;
  border: 1px solid #777;
  outline: none;
}

.keyword-search {
  display: none;
  width: 600px;
  margin-left: 50%;
  transform: translateX(-50%);
  margin-bottom: 25px;
}


#search-header button {
  background-color: #0080ff;
}

.posts-details {
  display: none;
  margin: 0 auto;
  width: 1000px;
  border: 2px solid #0080ff;
  border-radius: 15px;
  padding: 25px;
  margin-bottom: 25px;
  background-color: #fff;
}

.active {
  display: block;
}

.post-details-first, .post-details-second {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.post-details-first {
  margin-bottom: 25px;
}

.detail-field h2 {
  font-size: 20px;
  margin-right: 10px;
  display: inline;
}

.detail-field h3 {
  font-size: 20px;
  color: #888;
  display: inline;
}

.graph-box h1 {
  font-size: 18px;
  color: #555;
  text-align: center;
  margin-bottom: 10px;
}

.head-icon {
  width: 36px;
  height: 36px;
  margin: 10px;
}

.personal-links {
  display: flex;
  justify-content: flex-end;
}
