html, body {
  margin: 0;
  height: 100%;
}

.graph-box {
  width: 600px;;
  height: 600px;
  margin: 0 auto;
  margin-bottom: 80px;
}

#search-header {
  margin-top: 40px;
  margin-bottom: 25px;
  display: flex;
  justify-content: center;
}

#search-header input[type="submit"], #search-header button {
  font-size: 18px;
  color: #fff;
  background-color: #aaa;
  width: 120px;
  height: 40px;
  border-radius: 8px;
  margin: 0 10px;
}

#search-header input[type="text"] {
  padding: 8px 15px;
  font-size: 18px;
  width: 300px;
  border-radius: 8px;
  border: 1px solid #777;
}

#search-header button {
  background-color: #0080ff;
}

.posts-details {
  display: none;
  margin: 0 auto;
  width: 1200px;
  border: 2px solid #0080ff;
  border-radius: 15px;
  padding: 25px;
}

.active {
  display: block;
}

.post-details-first, .post-details-second {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.post-details-first {
  margin-bottom: 25px;
}

.detail-field h2 {
  font-size: 24px;
  margin-right: 10px;
  display: inline;
}

.detail-field h3 {
  font-size: 24px;
  color: #888;
  display: inline;
}
